body{
	background-image: linear-gradient(right , rgb(84,161,77) 50%, rgb(136,132,255) 52%);
	background-image: -o-linear-gradient(right , rgb(84,161,77) 50%, rgb(136,132,255) 52%);
	background-image: -moz-linear-gradient(right , rgb(84,161,77) 50%, rgb(136,132,255) 52%);
	background-image: -webkit-linear-gradient(right , rgb(84,161,77) 50%, rgb(136,132,255) 52%);
	background-image: -ms-linear-gradient(right , rgb(84,161,77) 50%, rgb(136,132,255) 52%);
	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0.5, rgb(84,161,77)),
		color-stop(0.52, rgb(136,132,255))
		);
}

div#wrap_all{
	position:relative;
	border:1px solid black;
	width:960px;
	margin-left:50%;
	left:-480px;
	top:-7px;
	
	span.menu-bar-el img{
		position:absolute;
		left:0px;	
	}
	span.menu-bar-el-hover img{
		position:absolute;
		display:none;
		left:0px;
	}
	#menu-bar-el-1, #menu-bar-el-hover-1{
		margin-top:90px;
	}
	#menu-bar-el-2, #menu-bar-el-hover-2{
		margin-top:130px;
	}
	#menu-bar-el-3, #menu-bar-el-hover-3{
		margin-top:170px;
	}

}

div#circle_index{
	width:958px;
	height:30px;
}
